<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,700,900|Open+Sans:400,600,700"
        rel="stylesheet">
    <link rel="stylesheet" href="https://expresscdn.firebaseapp.com/css/fontawesome.css" />
    <link rel="stylesheet" href="https://expresscdn.firebaseapp.com/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Web Inspiration - {{title}}</title>
</head>

<body>
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light my-shadow">
        <div class="container">
            <a class="navbar-brand mr-5" href="#">
                <h3 class="font-weight-bolder m-0">PROJECT <span class="text-primary">48</span></h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
                <div class="flex-fill"></div>
                <div class="navbar-nav d-flex justify-content-center align-items-center">
                    <a class="nav-item nav-link font-weight-bolder" href="#">Home</a>
                    <a class="nav-item nav-link font-weight-bolder" href="#Service">Service</a>
                    <a class="nav-item nav-link font-weight-bolder" href="#Blog">Blog</a>
                    <a class="nav-item nav-link font-weight-bolder" href="#Contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    {{{body}}}


    <div style="width: 100%; height: 300px; background: #333;">

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
        type="application/javascript"></script>
    <script src="../js/index.js"></script>
</body>

</html>